* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/yellow.jpg");
  /* background: rgb(131,58,180);
   */
  /* background: linear-gradient(184deg, rgba(131,58,180,1) 0%, rgba(253,111,29,0.6764705882352942) 50%, rgba(69,226,252,1) 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  padding: 10px;
  border: 3px solid rgb(192, 222, 230);
  border-radius: 20px;
  background-color: rgb(211, 154, 48);
}

.header {
  display: inline-flex;
  font-size: 2rem;
  padding: 1rem;
}